*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
#main {
    display: none;
    background-color: rgba(156, 156, 156, 0.215);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: fit-content;
    padding: 30px;
    border-radius: 30px;
    color: white;
    animation: showoff 6s;
}
@keyframes showoff {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.parent-img {
    max-width: 700px;
    height: auto;
    padding: 10px;
    border: 2px dashed rgb(255, 255, 255);
    border-radius: 10px;
}

#main-img {
    max-width: 500px;
}

.box-audio {
    text-align: center;
    padding: 15px 0;
}


#content-modal {
    font-size: 24px;
}

footer {
    padding-top: 15px;
    text-align: center;
}
footer a{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
}

#button {
    position: absolute;
    top: 25%;
    padding: 30px;
    border-radius: 5%;
    font-size: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-shadow: 0 0 20px #39c6d6, 0 0 58px #39c6d6, 0 0 108px #39c6d6;
    background-color: rgb(255, 255, 255, 0.1);
}

#button > span{
    animation: glow 2.5s ease-in-out infinite;
}
#button > span:nth-child(2){
    animation-delay: .8s ;
}
#button > span:nth-child(3){
    animation-delay: .12s ;
}
#button > span:nth-child(4){
    animation-delay: .16s;
}
#button > span:nth-child(5){
    animation-delay: .20s;
}
#typinh-text {
    overflow: auto;
}
@keyframes glow{
    0%, 100%{
        color: #fff;
        text-shadow: 0 0 12px #39c6d6, 0 0 50px #39c6d6, 0 0 100px #39c6d6;
    }
    50%{
        color: #fff;
        text-shadow: 0 0 12px #39c6d6, 0 0 50px #39c6d6, 0 0 100px #39c6d6;

    }
    10%, 90%{
        color: #111;
        text-shadow: none;
    }
}

.click {
    position: absolute;
    color: white;
    top: 75%;
    text-shadow: 0 0 20px #39c6d6, 0 0 58px #39c6d6, 0 0 108px #39c6d6;
    animation: fading 6s;
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
    cursor: pointer;
}
.click:hover{
    opacity: 0.6;
}
@keyframes fading {
    0% {
        opacity: 0;
        color: black;
        text-shadow: none;
    }
    30%,70%{
        color: white;
        text-shadow: 0 0 12px #39c6d6, 0 0 50px #39c6d6, 0 0 100px #39c6d6;

    }
     40%, 80% {
        color: black;
        text-shadow: none;
    }
    100% {
        color: white;
        opacity: 1;
        text-shadow: 0 0 12px #39c6d6, 0 0 50px #39c6d6, 0 0 100px #39c6d6;
    }
}
@media (max-width :740px) {
    #button {
        font-size: 30px;
    }    
    
.parent-img {
    max-width: 400px;
    height: auto;
    padding: 10px;
    border: 2px dashed rgb(255, 255, 255);
    border-radius: 10px;
}

#main-img {
    max-width: 300px;
}

#content-modal {
    font-size: 18px;
}
}