* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    cursor: pointer;
}

.isTime {
    background-color: black;
    position: relative;
    z-index: 10000;
}

#main-time {
    display: flex;
    align-items: center;
	justify-content: center;
    flex-direction: column;
    width: 100%;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    color: white;
}

.clock_hours {
    font-family: 'Times New Roman', Times, serif;
    font-size: 120;
}
.clock_years {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20;
}
.countdown {
    font-family: 'Courier New', Courier, monospace;
}
.tutorial {
    display: none;
    font-family: 'Courier New', Courier, monospace;

}

.fading {
    animation: opacity 2s;
}

.inf-fadding {
    animation: opacity-inf 5s infinite;
}

@keyframes opacity {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes opacity-inf {
    0%,100% {
        opacity: 0;
    }
    10%,90% {
        opacity: 1;
    }
}
@media (max-width :740px) {
    .clock_hours {
        font-size: 100px !important;
    }
    .clock_years, .countdown, .tutorial{
        font-size: 20px !important;
    }
}